includes:
    - phpstan-baseline.neon

parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    level: 5
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false

